---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";

const images = [
  "../../src/assets/pantallas-carousel/captarmedia-tipos2.png",
  "../../src/assets/pantallas-carousel/captarmedia-tipos3.png",
  "../../src/assets/pantallas-carousel/captarmedia-tipos4.png",
  "../../src/assets/pantallas-carousel/captarmedia-tipos5.png",
  "../../src/assets/pantallas-carousel/captarmedia-tipos6.png",
  "../../src/assets/pantallas-carousel/captarmedia-tipos7.png",
];

let currentImage = 0;

function nextImage() {
  currentImage = (currentImage + 1) % images.length;
}

function prevImage() {
  currentImage = (currentImage - 1 + images.length) % images.length;
}

function goToImage(index) {
  currentImage = index;
}
/*
const images = [
  "../../src/assets/pantallas-carousel/captarmedia-tipos1.png",
  "../../src/assets/pantallas-carousel/captarmedia-tipos2.png",
  "../../src/assets/pantallas-carousel/captarmedia-tipos3.png",
  // Agrega las rutas a tus imágenes aquí
];

let currentIndex = 0;
let timer;

function nextSlide() {
  currentIndex = (currentIndex + 1) % images.length;
  updateImage();
}

function previousSlide() {
  currentIndex = (currentIndex - 1 + images.length) % images.length;
  updateImage();
}

function startTimer() {
  timer = setInterval(() => {
    nextSlide();
  }, 5000);
  return () => clearInterval(timer);
}

function updateImage() {
  currentImage.src = images[currentIndex];
}

let currentImage;

function initCarousel() {
  currentImage = new Image();
  currentImage.src = images[currentIndex];
  startTimer();
}

initCarousel();
*/
---

<style>
  #id-slider {
    /* Estilos para el slider, como ancho, altura, margen, etc. */
    width: 100%;
    height: auto;
    margin-bottom: 20px; /* Agrega espacio entre el slider y el menú */
  }

  .menu-container {
    /* Estilos para el contenedor del menú */
    text-align: center; /* Centra el menú horizontalmente */
  }

  .menu {
    /* Estilos para el menú, como espaciado entre elementos, colores, etc. */
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu li {
    /* Estilos para los elementos del menú, como espaciado entre ellos */
    display: inline-block; /* Muestra los elementos en línea horizontalmente */
    margin-right: 10px; /* Agrega espacio entre elementos */
  }

  .menu a {
    /* Estilos para los enlaces del menú, como colores y decoración de texto */
    text-decoration: none;
    color: #333;
  }

  .fade-out {
    opacity: 0;
  }

  #id-slider > ul.slider {
    position: relative;
    max-width: 800px;
    /*width: 100%;
    height: 650px;*/
  }

  #id-slider > ul.slider h1 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    left: 50%;
    /*top: 100px;*/
  }

  #id-slider > ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity 0.5s;
    /*background: linear-gradient(
      rgb(58, 110, 146, 0.25),
      rgb(45, 161, 116, 0.5)
    );*/
  }

  #id-slider > ul.slider li img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  #id-slider > ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
  }

  #id-slider > ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }

  #id-slider > .menu {
    text-align: center;
    margin: 20px;
  }

  .menu-container > .menu li {
    display: inline-block;
    text-align: center;
  }

  .menu-container > .menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: rgb(248, 248, 248);
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
  }

  /**********************************************************/

  li .formulario {
    /*width: 80%;*/
    background: rgb(17, 38, 66);
    padding: 30px;
    margin: auto;
    /*margin-top: 100px;*/
    border-radius: 4px;
    font-family: "calibri";
    color: white;
    box-shadow: 7px 13px 37px #000;
  }

  .controls {
    width: 94%;
    background: rgb(36, 48, 60);
    padding: 10px;
    border-radius: 4px;
    /*margin-bottom: 16px;*/
    border: 1px solid rgb(31, 197, 197);
    font-family: "calibri";
    font-size: 18px;
    color: white;
  }
</style>
<!--<Layout title="Captarmedia">
  <div class="w-full h-screen flex flex-col justify-center items-center">
    <img
      src={images[currentImage]}
      alt="Imagen de transición"
      class="transition-opacity duration-500 mb-4"
    />
    <div class="flex space-x-2">
      <button
        class="w-4 h-4 rounded-full bg-blue-500 hover:bg-blue-700 focus:outline-none"
        @onclick={prevImage}></button>
      <button
        class="w-4 h-4 rounded-full bg-blue-500 hover:bg-blue-700 focus:outline-none"
        @onClick={nextImage}></button>
    </div>
  </div>

  <div id="id-slider">
    <ul class="slider">
      <li id="slide1">
        <img
          src="../../src/assets/pantallas-carousel/captarmedia-tipos1.png"
          alt="Imagen 1"
          class="h-52"
        />
      </li>
      <li id="slide2">
        <img
          src="../../src/assets/pantallas-carousel/captarmedia-tipos2.png"
          alt="Imagen 2"
          class="h-52"
        />
      </li>
      <li id="slide3">
        <img
          src="../../src/assets/pantallas-carousel/captarmedia-tipos3.png"
          alt="Imagen 3"
          class="h-52"
        />
      </li>
      <li id="slide4">
        <img
          src="../../src/assets/pantallas-carousel/captarmedia-tipos4.png"
          alt="Imagen 4"
          class="h-52"
        />
      </li>
      <li id="slide5">
        <img
          src="../../src/assets/pantallas-carousel/captarmedia-tipos5.png"
          alt="Imagen 5"
          class="h-52"
        />
      </li>
      <li id="slide6">
        <img
          src="../../src/assets/pantallas-carousel/captarmedia-tipos6.png"
          alt="Imagen 6"
          class="h-52"
        />
      </li>
    </ul>
  </div>
  <div class="menu-container ">
    <ul class="menu">
      <li>
        <a href="#slide1"></a>
      </li>
      <li>
        <a href="#slide2"></a>
      </li>
      <li>
        <a href="#slide3"></a>
      </li>
      <li>
        <a href="#slide4"></a>
      </li>
      <li>
        <a href="#slide5"></a>
      </li>
      <li>
        <a href="#slide6"></a>
      </li>
    </ul>
  </div>

   Slider main container 
<div class="swiper">-->
  <!-- Additional required wrapper 
  <div class="swiper-wrapper">-->
  <!-- Slides 
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>-->
  <!-- If we need pagination 
  <div class="swiper-pagination"></div>-->

  <!-- If we need navigation buttons 
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>-->

  <!-- If we need scrollbar 
  <div class="swiper-scrollbar"></div>
</div>-->
  <!-- 
<div class="relative w-full h-64">
    <img
      src={currentImage.src}
      alt="Imagen del carrusel"
      class="w-full h-full object-cover"
    />
    <div class="absolute inset-0 flex items-center justify-between">
      <button
        class="bg-white rounded-full p-2 m-2 transition transform hover:scale-110"
        @click={previousSlide}
      >-->
  <!-- Icono de flecha izquierda, por ejemplo: -->
  <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/></svg> 
      </button>
      <button
        class="bg-white rounded-full p-2 m-2 transition transform hover:scale-110"
        @click={nextSlide}
      >-->
  <!-- Icono de flecha derecha, por ejemplo: -->
  <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/></svg> 
      </button>
    </div>
  </div> -->
</Layout>
